*{
  box-sizing: border-box;
}

body{
  margin:0;
  font-family: 'Inter', sans-serif;
  background-color: aliceblue;

}

.container{
  margin:5%;
}

nav{
  background-color: #F55A5A;
  color:white;

  display: flex;
  justify-content: center;
}

.nav--logo{
  width: 24px;
  height: 24px;
  margin-right: 6px;
}

.nav--container{
  display: flex;

  justify-content: center;
  align-items: center;
}

.card{
  padding: 4%;
  background-color: white;
}

.card--container{
  display: flex;
  padding-bottom: 20px;
  border-bottom: 1px solid rgb(228, 228, 228);
}

.card--fullinfo{
  margin-left: 19px;
  padding-top:10px;
}

.card--location{
  display: flex;
  flex-direction: row;
  align-items: center;
}

.card--country{
  margin:0;
  font-family: Inter;
  font-size: 10px;
  font-weight: 400;
  line-height: 12px;
  letter-spacing: 0.17em;
  text-align: left;

  margin-right: 10px;

}

.card--image{
  width: 125px;
  height: 168px;
  border-radius: 5px;
}


.card--icon{
  width:7px;
  height: 10px;
  margin-right: 3px;
}

.card--link{
  font-family: Inter;
  font-size: 10px;
  font-weight: 400;
  line-height: 12px;
  letter-spacing: 0em;
  text-align: left;
  color: #918E9B;
  
}

.card--title{
  font-family: Inter;
  font-size: 25px;
  font-weight: 700;
  line-height: 30px;
  letter-spacing: 0em;
  text-align: left;
  color: #2B283A

}

.card--date{
  font-family: Inter;
  font-size: 10px;
  font-weight: 700;
  line-height: 12px;
  letter-spacing: 0em;
  text-align: left;
  color: #2B283A

}

.card--paragraph{
  font-family: Inter;
  font-size: 10px;
  font-weight: 400;
  line-height: 15px;
  letter-spacing: 0em;
  text-align: left;
  color: #2B283A;

}